body{
    background-color: #647e7d;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


#userpoeminput {
    width: 300px;
    height: 390px;
    background-color: #FDEFE4;
    color: black;
    border: 1px solid #ccc;
    padding: 10px;
    caret-color: black;
    font-size: 16px;
    line-height: 1.5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
    transition: box-shadow 0.3 ease;
    justify-content: flex-start;
    resize: none;
    overflow-y: auto;
}

#userpoeminput:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#userpoeminput::placeholder{
    color: gray;
    font-size: 15px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

label.user_poem{
    font-family:Arial, Helvetica, sans-serif;
}

div.text_input{
    position: relative;
    width: 300px;
}


img.generated_image{
    width: 500px; 
    height: 400px;
    object-fit: cover;
    margin-bottom: 25px;
}


.image-container{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}


.questionicon{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 45px;
    color: white;
    cursor: pointer;
}
.questionicon a:hover{
    color: white;
}
.questionicon a:visited{
    color: white;
}

button{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #C38590;
    text-align: center;
    display: inline-block;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 10px;
}

.container{
    width: 100%;
    height: 100vh;
}

#comparison-results{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: linear-gradient(454deg, );
}

.hidden{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5 ease-out, transform 0.5 ease-out
}

.show{
    opacity: 1;
    transform: translateY(0);
}

.bigbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 500px;
    height: 300px;
    background-color:#FDEFE4;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 15 px rgba(0, 0, 0, 0.1);
    
}

/* backend added this so the results would display in multiple lines*/ 
#AI-poem {
    white-space: pre-wrap;
}

#comparison-results {
    white-space: pre-wrap;
}