@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #647e7d;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.main-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


#userpoeminput {
    width: 300px;
    height: 390px;
    background-color: #FDEFE4;
    color: black;
    border: 1px solid #ccc;
    padding: 10px;
    caret-color: black;
    font-size: 16px;
    line-height: 1.5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3 ease;
    justify-content: flex-start;
    resize: none;
    overflow-y: auto;
}

#userpoeminput:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#userpoeminput::placeholder{
    color: gray;
    font-size: 15px;
    line-height: 1.5;
}



div.text_input{
    position: relative;
    width: 300px;
    font-family: 'Montserrat';
}


img.generated_image{
    width: 500px; 
    height: 400px;
    object-fit: cover;
    margin-bottom: 25px;
}


.image-container{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}


.questionicon{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 45px;
    color: white;
    cursor: pointer;
}
.questionicon a:hover{
    color: white;
}
.questionicon a:visited{
    color: white;
}

button{
    font-size: 17px;
    font-family: 'Montserrat';
    color: white;
    background-color: #C38590;
    text-align: center;
    display: inline-block;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 20px;

}

.result-container{
    width: 100%;
    height: 90vh;
    margin-top: 40px;
}

#comparison-results{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    background-color: linear-gradient(454deg,#FDEFE4, #C38590 );
}

.hidden{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5 ease-out, transform 0.5 ease-out
}

.show{
    opacity: 1;
    transform: translateY(0);
}

.bigbox{
    width: 500px;
    height: 600px;
    background-color:#FDEFE4;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 15 px rgba(0, 0, 0, 0.1);
    white-space: pre-wrap;
    align-content: center;
    line-height: 1.5;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    display:flex;
    flex-direction: column;
}


p.AIpoem{
    padding-top: 50px;
    text-align: center;
    justify-items: center;
    align-content: center;

}

table.table1{
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    justify-items: center;
    align-content: center;
}




td.bold{
    font-weight: bold;
}