body{
    background-color: #647E7D;
    font-family: Playfair;
}

.main{
    font-size: 150px;
    font-family: Playfair;
    text-align: center;
    color: #FDEFE4;
    font-weight: bold;
    display: flex;             
    flex-direction: column;    
    justify-content: center;   
    align-items: center;   
    height: 90vh;  
}
.main p {
    overflow: hidden; 
    border-right: .10em solid orange;
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
    typing 4.0s steps(40, end),
    blink-caret .80s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }

.button{
    font-size: 20px;
    color: white;
    font-family: Playfair;
    background-color: #C38590;
    border: none;
    border-radius: 25px;
    padding: 15px 32px;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;

}