@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
body{
    font-family: 'Playfair';
    background-color: #647e7d;
    display:grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}
.animated-txt{
    color: #fff;
    font-size: 110px;
    font-weight: 500;
    line-height: 90px;
    margin-left: 70px;
}
.animated-txt span{
    position: relative;
}
.animated-txt span::before{
    content: "Simple";
    color:#C38590;  
    animation: words 20s infinite;
}

.animated-txt span::after{
    content: "";
    color:#C38590;  
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #647e7d;
    border-left: 2px solid #C38590;
    left:100%;
    transform: translateX(-100%); 
    animation: cursor .5s infinite, typing 20s steps(11) infinite;
}

@keyframes cursor{
    to{
        border-left: 2px solid #C38590;
    }
}

@keyframes words{
    0%,20%{
        content: "Simple";
    }
    21%,40%{
        content: "Cats?";
    }
    41%,60%{
        content: "Easy";
    }
    61%,80%{
        content: "Diverse";
    }
    81%,100%{
        content: "Humorous";
    }
}

@keyframes typing {
   10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
    width: 0;
   }
   5%,20%,25%,40%,45%,60%,65%,80%,85%{
    width:calc(100% + 8px);
   }
}
section{
    display:grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}
.main{
    background-color: #647E7D;
    font-size: 150px;
    text-align: center;
    color: #FDEFE4;
    font-weight: bold;
    display: flex;             
    flex-direction: column;    
    justify-content: center;   
    align-items: center;   
    height: 100vh;  
}


.button{
    font-size: 20px;
    color: white;
    font-family: Playfair;
    background-color: #C38590;
    border: none;
    border-radius: 25px;
    padding: 15px 32px;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;

}
.button:hover{
    background-color: #FDEFE4;
    color:#C38590;
}
.hidden{
    opacity: 0;
    filter:blue(5px);
    transition: all 3s;
}
@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

.show{
    opacity: 1;
    filter:blur(0);
    transform: translateX(0);
}